
.Rproj.user/35DCC852/ctx/ctx-61502/rversion
.Rproj.user/35DCC852/ctx/ctx-61502/settings
*.pper
.Rproj.user/35DCC852/persistent-state
*.pper
.Rproj.user/35DCC852/sources/per/t/62067C0B
*.pper
.Rproj.user/35DCC852/pcs/files-pane.pper
.Rproj.user/35DCC852/sources/per/t/62067C0B
.Rproj.user/35DCC852/sources/per/t/62067C0B-contents
.Rproj.user/35DCC852/sources/per/t/85B1F53D
.Rproj.user/35DCC852/sources/prop/0E31B65D
.Rproj.user/35DCC852/sources/per/t/85B1F53D-contents
.Rproj.user/35DCC852/sources/per/t/62067C0B-contents
.Rhistory
.Rhistory
*.pper
.Rhistory
*.pper
